body{
    padding: 0;
    margin: 0;
}
/* botões */

/* botões */

/* hastes */
div.hastes {
    width: 5px;
    height: 100%;
    background: black;
    margin: 0 auto;
   
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* hastes */

/* blocos */
#container {
    width: 320px;
    
}

div#game{
    margin-top: 50px;
    display: flex;
    height: 100px;
}
div.block{
      
    background-color: cyan;
    
}
div.container-block{
    width: 30%;
    margin: 0 auto;
    height: 100%;
    border-bottom: 5px solid black;
}
/* blocos */

/* background */

/* background */

/* fonts */

/* fonts */

/* tela de vitoria */

/* tela de vitoria */